* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid rgb(1, 127, 255, 1);
    border-radius: 10px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.note {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.note p {
    margin: 0;
    font-size: 1rem;
}

.note .note-time {
    color: #666;
    font-size: 0.8em;
    margin-top: 10px;
    font-style: italic;
}

.note .delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 1.2rem;
}

.note .delete-btn:hover {
    color: rgb(1, 127, 255, 1);
}
